<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confronto Playlist</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    {%extends'nav.html'%}
    {% block content %}
    <h1>Brani in Comune</h1>

    <h2>Playlist 1: {{ playlist1_name }}</h2>
    <h2>Playlist 2: {{ playlist2_name }}</h2>

    <div>
        <p><strong>Brani in comune:</strong> {{ common_tracks }}</p>
        <p><strong>Percentuale di somiglianza:</strong> {{ similarity_percentage }}%</p>
    </div>

    <!-- Div per il grafico -->
    <div id="confronto-grafico" style="width: 100%; height: 500px;"></div>
    <div id="popolarita-grafico" style="width: 100%; height: 500px; margin-top: 50px;"></div>

    <script>
        // Dati passati dal backend
        const playlist1Name = "{{ playlist1_name }}";
        const playlist2Name = "{{ playlist2_name }}";
        const playlist1Total = "{{ playlist1_total }}";
        const playlist2Total = "{{ playlist2_total }}";
        const commonTracks = "{{ common_tracks }}";
        const mediaPopolarita1 = "{{ media_popolarita1 }}";
        const mediaPopolarita2 = "{{ media_popolarita2 }}";

        // Dati per il grafico
        const dataBrani = [
            {
                x: [playlist1Name, playlist2Name, "Brani in Comune"],
                y: [playlist1Total, playlist2Total, commonTracks],
                type: 'bar',
                marker: {
                    color: ['blue', 'green', 'orange']
                }
            }
        ];

        // Layout del grafico
        const layout = {
            title: 'Brani in Comune',
            xaxis: { title: 'Categorie' },
            yaxis: { title: 'Numero di Brani' }
        };

        // Disegna il grafico
        Plotly.newPlot('confronto-grafico', dataBrani, layout);

        const dataPopolarita = [
            {
                x: [playlist1Name, playlist2Name],
                y: [mediaPopolarita1, mediaPopolarita2],
                type: 'bar',
                marker: {
                    color: ['blue', 'green']
                }
            }
        ];

        // Layout del grafico della popolarità media
        const layoutPopolarita = {
            title: 'Confronto della Popolarità Media',
            xaxis: { title: 'Playlist' },
            yaxis: { title: 'Popolarità Media' }
        };

        // Disegna il grafico della popolarità media
        Plotly.newPlot('popolarita-grafico', dataPopolarita, layoutPopolarita);
    </script>
    
    {% endblock %}
</body>
</html>