<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='playlist.css') }}">
    <title>{{ playlist['name'] }}</title>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<body>
    {%extends'nav.html'%}
    {% block content %}
    <div class="playlist-container">
        <h1 align="center">Playlist: {{ playlist['name'] }}</h1>  
        
        {% if playlist['images'] %}
            <img src="{{ playlist['images'][0]['url'] }}" width="200">
        {% endif %}

        <br><br>

        <h2>BRANI DELLA PLAYLIST:</h2>
        <br>
        {% if tracks %}
            <ul>
                {% for item in tracks %}
                    <li>{{ item['name'] }} - 
                        {% for artist in item['artists'] %}
                            {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Questa playlist non contiene brani.</p>
        {% endif %}
    </div>
    {% if charts %}
    <div class="charts">
        <h2>Top 5 Artisti</h2>
        <div id="fig_artists">{{ charts.fig_artists|safe }}</div>

        <h2>Top 5 Album</h2>
        <div id="fig_albums">{{ charts.fig_albums|safe }}</div>

        <h2>Distribuzione della Popolarità</h2>
        <div id="fig_popularity">{{ charts.fig_popularity|safe }}</div>

        <h2>Distribuzione dei Generi Musicali (Grafico a Barre)</h2>
        <div id="fig_genres_bar">{{ charts.fig_genres_bar|safe }}</div>

        <h2>Distribuzione dei Generi Musicali (Grafico a Torta)</h2>
        <div id="fig_genres_pie">{{ charts.fig_genres_pie|safe }}</div>

        <h2>Distribuzione Temporale dei Brani</h2>
        <div id="fig_release_year">{{ charts.fig_release_year|safe }}</div>

        <h2>Distribuzione della Durata dei Brani</h2>
        <div id="fig_duration">{{ charts.fig_duration|safe }}</div>

        <h2>Evoluzione della Popolarità nel Tempo</h2>
        <div id="fig_popularity_over_time">{{ charts.fig_popularity_over_time|safe }}</div>
    </div>
{% else %}
    <p>Nessun grafico disponibile per questa playlist.</p>
{% endif %}
<br>
    {%endblock %}
</body>
</html>
